.navbar {
  height: 70px;
  overflow: hidden;
  position: relative;
  margin-top: 0;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.navbarleft {
  flex-shrink: 0;
}

.netfliximg {
  width: 95px;
  height: auto;
}

.navbarright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbarmenu {
  display: flex;
  flex-direction: row;
}

.navbarmenuitems {
  display: flex;
  flex-direction: row;
  gap: 6px;
}

.navbarmenuitems a {
  text-decoration: none;
  color: inherit;
}

.navbarmenuitems div {
  padding: 10px 15px;
  border-radius: 20px;
}

.navbarmenuitems div:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.searchnavatar {
  gap: 12px;
  display: flex;
}

.search:hover,
.notification:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}

.search button,
.notification button {
  border: none;
  outline: none;
  padding: 0;
  cursor: pointer;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;

  border: none;
  background: transparent;
  border-radius: 50%;

  transition: background-color 0.2s ease;
}

.searchbar {
  display: flex;
  align-items: center;
  overflow: hidden;

  width: 0;
  opacity: 0;

  transition:
    width 0.35s ease,
    opacity 0.25s ease;

  border: 1px solid white;
  background: black;

  border-radius: 100px;
}

.searchbar input {
  border: none;
  outline: none;
  background: transparent;
  color: white;
}

.searchbar.active {
  width: 260px;
  opacity: 1;
  border-radius: 100px;
  padding: 10px;
}

.search {
  display: flex;
}

.searchClear {
  opacity: 50%;
  margin-left: auto;
}

.searchClear:hover {
  opacity: unset;
}

.childrenlogo,
.userlogo {
  height: 32px;
  border-radius: 3px;
}

.kids button,
.avatar button {
  display: flex;
  background-color: transparent;
  border: 0 solid;
  align-items: center;
  gap: 8px;
  color: white;
  padding: 0;
}

.kids button:hover,
.avatar button:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 3px;
}

.kids span,
.avatar span {
  padding-right: 8px;
}
